.List {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 280px;
}

.ListItem {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 1005;
  border: 1px solid #521751;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.ListItem:hover,
.ListItem:active {
  background-color: #ccc;
}

@keyframes listItemAdd {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes listItemRemove {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.ListItemEnter { /* 'enterDone' ocorre no FINAL do 'enter'...  e 'enter', lá no 'classNames', ocorre AO INÍCIO DE 'enter'...*/
    opacity: 0
}

.ListItemEnterActive {
  animation: listItemAdd 0.8s ease-out ;
}

.ListItemExit {
    opacity: 1
}

.ListItemExitActive {
  animation: listItemRemove 0.8s ease-out ;
}

/* 
forwards	The element will retain the style values that is set by the last keyframe (depends on animation-direction and animation-iteration-count) */
