.NavigationItems {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
}















@media(min-width: 500px) {
      .NavigationItems {
        flex-direction: row;

      }
}