.App {
    text-align: center;
  }
  
  
  .red {
    color: red;
  }
  
  
  .bold {
    font-weight: bold;
  }
  


    .buttons {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      justify-content: space-evenly;
      
      
      align-items: center;
    }

  
  
  .Cockpit button {    /* hmmmm isso é um PROBLEMA.  */
    border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
  cursor: pointer;
  margin-bottom: 25px;

  
  }
  
  
  
  
  .Cockpit button:hover {
    background-color: lightgreen;
    color: black;
  }
    
  
  
  .Cockpit button.red {
    background-color: red;
    color: black;
  }
  
  
  .Cockpit button.red:hover {
    background-color: pink;
    color: black;
  }