.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /*isso vai tirar as 'setinhas feias' do negócio de digitar números, na caixa input de números, em 'postalCode'... */
  -webkit-appearance: none;
  margin: 0;
}


.ContactData input {
    display: block;
    margin-top: 16px;
}






@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}